/* 
    Document   : gsg
    Created on : 04/05/2012, 01:05:46
    Author     : Gustavo
    Description:
    Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    font: 76% arial,sans-serif;text-align:justify;
    background: #f8f7e5 url(background.jpg) content-box center top;

}

#authors{
    position: fixed; 
    left: 3px; 
    text-align: center;
    color: black;
    font-size: 140%;
    border-radius: 20px;
    min-height: 65px;
    min-width: 380px;
}

table{
    text-align: center;
    font-style: normal;
    font-family: sans-serif;
    color: black;
    border: 2px solid black;
    border-collapse:collapse;
    table-layout: auto;
    border-color: black;
    table-layout: fixed;
    min-height: 700px;
    min-width: 800px;
}

td{
    font-size:1em;
    border:2px solid gray;
    padding:5px 5px 5px 5px;
    background-color:#EAF2D3;
}

tr.alt td {
    color:#000000;
    background-color:white;
}
th 
{
    font-size:1.5em;
    text-align:center;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

h1 {
    -moz-animation: alternate;
    -moz-border-radius: 20px;
    font-family: serif;
    color: black;
    background: white;
    text-align: center;
}

h2{ text-align: center;}

h3{
    padding: 6px;
    text-align: center;
}

li {
    font-size: 12px;
    font-weight: bold;
}

a{
    padding:5px; 
    text-decoration:none; 
    color: blue;
}

p{margin:0 10px 10px;}

div#navigation {
    background: white;
    border: 2px;
    border-color: black;
    min-height: 560px;
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
    float: left;
}

div#window{
    float: center;
    background: white;
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
    border-bottom-right-radius: 4em;
    border-top-right-radius: 4em;
    min-height: 560px;
    min-width: 700px;
}
